    
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
    <div class="sidebar-brand-text mx-3"><%= link_to 'Catalogo Nestlé', dashboard_index_path, class:"sidebar-brand d-flex align-items-center justify-content-center" %></div>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <span> <%= link_to 'Grupos', dashboard_groups_path, class: "nav-link collapsed" %></span>
  </li>
  <li class="nav-item">
    <span> <%= link_to 'Familias', dashboard_families_path, class: "nav-link collapsed" %></span>
  </li>
  <li class="nav-item">
    <span> <%= link_to 'Classificações', dashboard_tax_classifications_path, class: "nav-link collapsed" %></span>
  </li>
  <li class="nav-item">
    <span> <%= link_to 'Produtos', dashboard_products_path, class: "nav-link collapsed" %></span>
  </li>
</ul>
